if(errors)
	h2.errors An error has been found!
	ul.errors
		each error in errors
			li
				=error.message



//- extends layout

//- block content
//-   h1= message
//-   h2= error.status
//-   pre #{error.stack}
